/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 22 thg 10, 2024, 18:21:56
    Author     : Administrator
*/

.toast {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #28a745; /* Màu nền thông báo */
    color: white; /* Màu chữ */
    padding: 10px;
    border-radius: 5px;
    z-index: 1000; /* Đảm bảo thông báo luôn ở trên các phần tử khác */
}

.toast.show {
    display: block; /* Hiển thị thông báo */
}
